/* font-family: 'Anton', sans-serif;
font-family: 'Caveat', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* header */

.hero{
    height: 100vh;
    background-image: url(../img/Foto3.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_container{
    background-color: #2a9d8f;
    width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav_container h1{
    color: #FBD87F;
    text-transform: uppercase;
}

.nav_link ul{
    display: flex;
    gap: 5px;
    
}

.nav_link li{
    padding: 5px;
    border: 2px solid #e9c46a;
    border-radius: 10px;
    background-color: #e9c46a;
}

.nav_link a{
    font-size: 0.8rem;
    color: #fff;
    text-transform: uppercase;
}

.logo {
    width: 16rem;
}

/* header */

/* main */



/* section1 */

section{
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

picture img{
    width: 220px;
    border-radius: 20px;
}

.carta1{
    background: #2a9d8f;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #e9c46a;
}

button a{
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
}

/* section1 */

/* section2 */

.sector_anteojos{
    background: #f4a261;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sector_anteojos h3{
    margin-top: 10px;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
}

.carta2{
    width: 80vw;
    height: 80vh;
    padding: 20px;
    border-radius: 20px;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.743) 25%, rgba(255,255,255,0) 100%), url(../img/Foto9.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.carta3{
    width: 80vw;
    height: 80vh;
    padding: 20px;
    border-radius: 20px;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.743) 25%, rgba(255,255,255,0) 100%), url(../img/Foto6.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.carta4{
    width: 80vw;
    height: 80vh;
    padding: 20px;
    border-radius: 20px;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.743) 25%, rgba(255,255,255,0) 100%), url(../img/Foto8.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

/* section2 */

/* main */

/* footer */

footer{
    background: #2a9d8f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contacto{
    text-transform: uppercase;
}

.mapa iframe{
    border-radius: 20px;
}

.redes{
    font-size: 30px;
}

.redes li a{
    color: #fff;
    
}