/* font-family: 'Anton', sans-serif;
font-family: 'Caveat', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* header */

.hero{
    height: 100vh;
    background-image: url(../img/Foto3.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_container{
    background-color: #2a9d8f;
    width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav_container h1{
    color: #FBD87F;
    text-transform: uppercase;
}

.nav_link ul{
    display: flex;
    gap: 5px;
    
}

.nav_link li{
    padding: 5px;
    border: 2px solid #e9c46a;
    border-radius: 10px;
    background-color: #e9c46a;
}

.nav_link a{
    font-size: 0.8rem;
    color: #fff;
    text-transform: uppercase;
}

.logo {
    width: 16rem;
}

/* header */

/* main */



/* section1 */

.sector1{
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

picture img{
    width: 220px;
    border-radius: 20px;
}

.carta1{
    background: #2a9d8f;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


/* section1 */





/* main */